name: CI

on:
  push:
    branches: 
      - main
  pull_request:

jobs:
  test:
    runs-on: macOS-11.0
    steps:
    - uses: actions/checkout@v2.3.5
    - name: Run tests
      env: 
        DEVELOPER_DIR: /Applications/Xcode_12.5.app
      run: xcodebuild test -scheme Xcodes
